# Since npm/yarn ignore the "global-gitignore" file, we'll have to explicitely ignore our dev. related files
# IDE
.idea/
.vscode/
*.sublime-workspace

# OS
**/.DS_Store

# packages & node
node_modules/
*.seed
*.log
*.out
*.pid
npm-debug.log
yarn-debug.log
yarn-error.log

# linter
.eslintcache

# code coverage
coverage/
